.statistics {
  background-color: #fff;
  margin: 0 auto;
  margin-top: 50px;
  width: 300px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}

.title {
  padding-top: 10px;
  text-align: center;
  margin-bottom: 10px;
}
.stat__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stat__list > li {
  color: #fff;
  font-weight: 500;
  display: flex;
  padding: 5px;
  align-items: center;
  flex-direction: column;
}
