.friend__list {
  width: 300px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.friend__item {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
}

.status {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.online {
  composes: status;
  background-color: #008000;
}

.offline {
  composes: status;
  background-color: #ff0000;
}

.friend__name {
  font-size: 1.2rem;
  font-weight: 600;
}
